# Ignore node_modules for both client and server
**/node_modules
node_modules/
**/dist
**/.vite

# Logs
**/logs
**/*.log

# Build output
**/build
**/coverage

# Environment and secret files
**/.env
**/credentials.json

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
